.vercel
node_modules
.DS_Store
dist
*.tsbuildinfo
playwright-report
test-results
blob-report

# Added by setup script
.env
.env.local
__pycache__/
venv/
.idea/
.vscode/
.vercel
node_modules
.DS_Store
.env*
